@charset "UTF-8";

.debug > pre {
    padding: 1em;
    background-color: #333;
    color: #ddd;
}

.name-input > input {
    font-size: 2em;
    font-style: italic;
    width: 100%;
}

.the-button {
    width: 100%;
    font-size: 1.4em;
}
